.coral-Heading {
    line-height: 2.25rem !important
}

.coral--light {
    font-size: 1.3rem !important;
    line-height: 1.7rem !important
}

.u-gapLeft {
    margin-left: .5rem !important
}

.u-gapLeft2x {
    margin-left: 1rem !important
}

.u-gapRight {
    margin-right: .5rem !important
}

.u-gapRight2x {
    margin-right: 1rem !important
}

.u-gapTop {
    margin-top: .5rem !important
}

.u-gapTop2x {
    margin-top: 1rem !important
}

.u-gapBottom {
    margin-bottom: .5rem !important
}

.u-gapBottom2x {
    margin-bottom: 1rem !important
}
